.rbc-time-content {
  background-color: #2e334c ;
}
.rbc-time-header {
  background-color: #2e334c;
}
.rbc-time-gutter {
  background-color: #2e334c;
}
.rbc-event {
    background-color: #2e334c;
}
.rbc-event-label {
  color: #fff;
}

.rbc-time-slot-group {
  background-color: #2e334c;
}


